<%= turbo_stream_from @chat %>
<div class="container py-4">
  <%= link_to "← Meal plan", meal_plan_path(@chat.meal_plan), id: "backLink" %>
  <div class="row mt-3">
    <div class="col">
      <h1><%= @meal_plan.start_date %> Meal plan</h1>
    </div>
    <div id="messages">
      <%= render @chat.messages %>
    </div>
    <div class="row mb-2">
      <div class="p-3 d-flex justify-content-start" id="<%= dom_id(@meal_plan)%>">
        <% unless @chat.messages.empty? %>
          <%= render "messages/button", meal_plan: @meal_plan %>
        <% end %>
      </div>
    </div>
    <div id="new_message_container" class="col input-group mb-3">
      <%= render "messages/form", chat: @chat, message: @message %>
    </div>
  </div>
</div>
